EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB0fhQaN4Ai3SsqAl1zfBjizfGY5kO-JRg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=giftregistryapp-43c33.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=giftregistryapp-43c33
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=giftregistryapp-43c33.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=532081659404
EXPO_PUBLIC_FIREBASE_APP_ID=1:532081659404:web:0fd3e6a41ace599665e829
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-X65TBVQCQW

# Google OAuth (opcional)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=